{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="peers ai-s fxw-nw h-100vh">
        <div class="col-md-3 peer pX-10 pY-10 h-auto bgc-white border-primary scrollable pos-r m-auto" style='border: solid;box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)'>
            <h4 class="fw-300 c-grey-900 mB-40 text-center">SEKOLIKO LOGIN</h4>
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="text-normal text-dark" for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username"
                           id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label class="text-normal text-dark" for="inputPassword">Password</label>
                    <input type="password" name="password"
                           id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <div class="peers ai-c jc-sb fxw-nw">
                        <div class="peer">
                            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                <input id="remember_me" type="checkbox" name="_remember_me">
                                <label for="remember_me" class=" peers peer-greed js-sb ai-c">
                                    <span class="peer peer-greed">Remember Me</span>
                                </label>
                            </div>
                        </div>
                        <div class="peer">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
