{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} | Ajouts matières {% endblock %}

{% set menu_classe        = true %}

{% block body %}

    <div class="card shadow mb-4 col-md-4 col-xs-12 mx-auto">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="card bg-warning text-white shadow">
                <div class="card-body">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ajouter une matière</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.matNom) }}
                    {{ form_row(form.matCoeff, {'attr': {'class': 'col-3'}}) }}
                    <div class="form-group ">
                        <label for="">Selectionner un profs</label>
                        <select name="prof" id="" class="form-control">
                            <option value="">Veuillez selectionner un profs</option>
                            {% for profs in prof %}
                                <option value="{{ profs.id }}">{{ profs.usrFirstname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="">Classe</label>
                        <input type="text" class="form-control" value="{{ classe.classeNom }}" disabled readonly>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary float-md-right col-md-5 btn-bloc mt-2" value="Enregistrer" name="new_matiere"/>
                <a href="{{ path('classe_matiere_liste',{"id":classe.id}) }}"
                   class="btn btn-google col-md-4 btn-bloc mt-2">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}