{% extends 'admin/admin.html.twig' %}

{% form_theme form1 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} | Ajout étudiant(e) {% endblock %}

{% set menu_classe        = true %}

{% block body %}


    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }} <a href="{{ path('etudiant_search') }}">rechercher</a>
            </div>
        </div>
    {% endfor %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ajouter un(e) étudiant(e)
                en {{ classe.classeNom }}</h6>
        </div>
        <div class="card-body">
            {{ form_start(form_upload) }}
            <div class="form-group">
                <label>Import etudiant via csv file</label>
                {{ form_row(form_upload.file) }}
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Importer" name="new_user"/>
            {{ form_end(form_upload) }}
        </div>

        <div class="card-body">
            {{ form_start(form1, {attr: {novalidate: 'novalidate'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form1.usrLastname, { 'attr': {'required': 'true'} }) }}
                    {{ form_row(form1.usrFirstname, { 'attr': {'required': 'true'} }) }}
                    {{ form_row(form1.usrAddress, { 'attr': {'required': 'true'} }) }}

                </div>
                <div class="col-md-6">
                    <div class="hide" style="display: none">
                        {{ form_row(form1.imgUrl, { 'attr': {'required': 'false'} }) }}
                        {{ form_row(form1.skRole, { 'attr': {'required': 'false'} }) }}
                        {{ form_row(form1.enabled, { 'attr': {'required': 'false'} }) }}
                        {{ form_row(form1.plainPassword.first, { 'attr': {'required': 'false'} }) }}
                        {{ form_row(form1.plainPassword.second, { 'attr': {'required': 'false'} }) }}
                    </div>
                    {{ form_row(form1.email) }}
                    {{ form_row(form1.usrPhone) }}
                    {{ form_row(form1.username, { 'attr': {'required': 'true'} }) }}
                    <div class="form-group">
                        <label for="">Classe</label>
                        <input type="text" disabled class="form-control" value="{{ classe.classeNom }}" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4>Informations pour l'étudiant</h4>
                <div class="form-group">
                    <label for="">Date de naissance</label>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" name="datedenaissance" required class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Sexe de l'étudiant</label>
                    <select name="sexe" required="required" class="form-control" id="">
                        <option value="Male">Male</option>
                        <option value="Femme">Femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Nom de la mere</label>
                    <input type="text" class="form-control" name="mere">
                </div>
                <div class="form-group">
                    <label for="">Nom du pere</label>
                    <input type="text" class="form-control" name="pere">
                </div>
                <div class="form-group">
                    <label for="">Type d'addition (admis-redoublant)</label>
                    <input type="text" class="form-control" name="addition">
                </div>
                <div class="form-group">
                    <label for="">Contact parent</label>
                    <input type="text" class="form-control" name="contactParent">
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Enregistrer" name="new_user"/>
            <a href="{{ path('etudiant_liste',{'id':classe.id}) }}"
               class="btn btn-google btn-block">
                Annuler
            </a>
            {{ form_end(form1) }}
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });
    </script>
    <script>
        $('#sk_userbundle_user_skRole').style.display = 'none'
    </script>
{% endblock %}