
{% form_theme form 'form/custom_fields.html.twig' %}

    {{ form_start(form,{"attr":{"id":"formMatClasse"}}) }}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group ">
                    <label for="">Classe</label>
                    <input type="text" class="form-control" value="{{ classe.classeNom }}" disabled readonly>
                </div>
                <div class="form-group ">
                    <label for="">Selectionner une matiere</label>
                    <select name="matiere" id="" class="form-control" required>
                        <option value="">Veuillez selectionner une matiere</option>
                        {% for mat in matiere %}
                            <option value="{{ mat.id }}">{{ mat.matNom }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group ">
                    <label for="">Selectionner un profs</label>
                    <select name="prof" id="" class="form-control" required>
                        <option value="">Veuillez selectionner un profs</option>
                        {% for profs in prof %}
                            <option value="{{ profs.id }}">{{ profs.usrFirstname }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="coeff" required placeholder="coefficient">
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-primary float-right"  id="modifMatClasse" value="Enregistrer" name="new_matiere"/>
            <a data-dismiss="modal"
               class="btn btn-google">
                Annuler
            </a>
        </div>
    {{ form_end(form) }}