{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Modifications classes {% endblock %}

{% set menu_niveau        = true %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Modifier la classe</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.classeNom) }}
                    <div class="form-group ">
                        <select name="niveau" id="" class="form-control">
                            {% for niveau in niveau  %}
                                <option value="{{ niveau.id }}" >{{ niveau.niveauNom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Modifier" name="update_classe"/>
                <a href="{{ path('classe_index') }}"
                   class="btn btn-google btn-block">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}