{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord {% endblock %}
{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="card shadow mb-4">

        <div class="p-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Nouveau emploi du temps
            </button>
            <div class="mt-2"></div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">Emplois du temps</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/tooltip.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });
    </script>
    <script>
        $('#exampleModal').on('shown.bs.modal', function () {
            var modal = $(this);
            $.ajax('{{ path('edt_new',{id:classe.id}) }}', {
                success: function (data) {
                    modal.find('.modal-body').html(data);
                }
            });
        });
    </script>
    <script>
        $(document).on('click', '#addedt', function (e) {
            $.ajax({
                type: 'POST',
                url: '{{ path('edt_new',{id:classe.id}) }}',
                data: $('#edt').serialize(),
                dataType: "json"
            })
                .done(function (response) {
                    window.location.reload();
                })
                .fail(function () {
                    alert("an error occured");
                });

        });
    </script>
    <script>
        $(function () {

            $('#calendar').fullCalendar({
                themeSystem: 'bootstrap4',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listMonth'
                },

                weekNumbers: true,
                eventLimit: true,
                events: [
                    {% for edt in edt %}
                    {
                        title: '{{ edt.matNom.matNom }}',
                        start: '{{ edt.etdDateDeb | date('Y-m-d H:i:s') }}',
                        end: '{{ edt.etdDateFin | date('Y-m-d H:i:s') }}'
                    }
                    {% if not loop.last %},
                    {% endif %}
                    {% endfor %}
                ],
                eventAfterRender: function (event, element) {
                    $(element).tooltip({
                        title: event.title,
                        container: "body"
                    });
                },
                editable: true,
                selectable: true,
                selectHelper: true,
                select: function () {
                    $('.modal').modal('show');
                },
                eventClick: function () {
                    $('.modal').modal('show');
                },
                eventDrop: function () {
                    $('.modal').modal('show');
                }
            });
        });
    </script>
{% endblock %}