{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Classe {% endblock %}

{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Classes Étudiants Matières Emplois du temps</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row add-btn-top-list">
                            <a href="{{ path('classe_new') }}" class="btn btn-primary">
                                Créer une classe
                            </a>
                        </div>
                    {% endif %}
                    <div class="box-header">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: {{ class_list|length }} </span><span class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Classe</th>
                                <th>Niveau</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for classe in class_list %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ classe.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ classe.classeNom }}</td>
                                    <td>{{ classe.niveau ? classe.niveau.niveauNom : '' }}</td>
                                    <td class="kl-action-button-bloc">
                                        <a class="btn btn-success" title="Modifier ce classe"
                                           href="{{ path('classe_edit', { 'id': classe.id }) }}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a class="btn btn-secondary" title="Liste des étudiants"
                                           href="{{ path('etudiant_liste', { 'id': classe.id }) }}">
                                            <i class="fa fa-list"></i>
                                        </a>
                                        <a class="btn btn-info" title="Matiere liste"
                                           href="{{ path('classe_matiere_liste', { 'id': classe.id }) }}">
                                            <i class="fa fa-book"></i>
                                        </a>
                                        <a class="btn btn-warning" title="Emploi du temps"
                                           href="{{ path('classe_edt', { 'id': classe.id }) }}">
                                            <i class="fa fa-calendar"></i>
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-danger remove-elt" title="Supprimer"
                                               onclick="supprimer('{{ path('classe_delete', { 'id': classe.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });

        $(function () {
            $('#list-user').DataTable(
                {
                    "order": [[0, "desc"]],
                    "bProcessing": true,
                    "bFilter": true,
                    "oLanguage": {
                        "sProcessing": "Traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédente", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucun utilisateur trouvé",
                        "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    },
                    "footerCallback": function (row, data, start, end, display) {
                        $('.title-count').html(display.length);
                    }
                });
        });
    </script>
{% endblock %}