{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} | Ajouts matières {% endblock %}

{% set menu_matiere        = true %}

{% block body %}
    <div class="card shadow mb-4 col-md-4 col-xs-12 mx-auto">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ajouter une matière</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.matiere) }}
                    {{ form_row(form.matCoeff) }}
                    {{ form_row(form.matClasse) }}
                    {{ form_row(form.matProf) }}
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary float-right" value="Enregistrer" name="new_matiere"/>
                <a href="{{ path('matiere_index') }}"
                   class="btn btn-google">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}