{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Ajouts matières {% endblock %}

{% set menu_matiere        = true %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ajouter une matière</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.matNom) }}
                    {{ form_row(form.matCoeff) }}
                    <div class="form-group ">
                        <label for="">Selectionner un profs</label>
                        <select name="profs" id="" class="form-control">
                            {% for prof in profs  %}
                                <option value="{{ prof.id }}" >{{ prof.usrFirstname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="">Selectionner un classe</label>
                        <select name="classe" id="" class="form-control">
                            {% for classe in classe  %}
                                <option value="{{ classe.id }}" >{{ classe.classeNom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer" name="new_matiere"/>
                <a href="{{ path('matiere_index') }}"
                   class="btn btn-google btn-block">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}