{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Liste matières {% endblock %}

{% set menu_matiere = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="card col-md-12 shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary float-left">Liste des matières</h6>
                {# Bouton création #}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" onclick="addMatiere('{{ path('matiere_new') }}')" class="float-right"
                       data-toggle="modal" data-target="#modalMatiere">
                        Ajouter une matière
                    </a>
                    <div class="modal fade" id="modalMatiere" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Matiere</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>

                            {% if is_granted('ROLE_ADMIN') %}
                                <th></th>
                                <th>Matières</th>
                                <th>Classe Professeurs et coefficient</th>
                                <th>Actions</th>
                            {% endif %}
                            {% if is_granted('ROLE_PROFS') %}
                                <th></th>
                                <th>Classe</th>
                                <th>Coefficient</th>
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if is_granted('ROLE_ADMIN') %}
                            {% for matiere in matiere_liste %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ matiere.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ matiere.matNom }}</td>
                                    <td>
                                        {#{{ dump(matiere.matclass) }}#}
                                        {% if matiere.matclass != null %}
                                            {% for matierea in matiere.matclass %}
                                                {{ matierea.matClasse ? matierea.matClasse.classeNom }}
                                                {{ matierea.matProf ? matierea.matProf.username }}
                                                {{ matierea ? matierea.matCoeff }}
                                            {% endfor %}
                                        {% endif %}
                                        <a class="btn btn-success btn-sm" title="Ajouter des classes"
                                           href="#" onclick="addClasseMat('{{ path('matiere_mat_class') }}')"
                                           data-toggle="modal" data-target="#modalMatiere">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </td>
                                    <td class="kl-action-button-bloc">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-success btn-sm" title="Modifier" href="#"
                                               onclick="editMatiere('{{ path('matiere_edit', { 'id': matiere.id }) }}')"
                                               data-toggle="modal" data-target="#modalMatiere">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt btn-sm" title="Supprimer"
                                               onclick="supprimer('{{ path('matiere_delete', { 'id': matiere.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% elseif is_granted('ROLE_PROFS') %}
                            {% for matiere in matiere_liste %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ matiere.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ matiere.matClasse.classeNom }}</td>
                                    <td>{{ matiere.matCoeff }}</td>
                                    <td class="kl-action-button-bloc">
                                        {% if is_granted('ROLE_PROFS') %}
                                            <a class="btn btn-success btn-sm" title="Voir emploi du temps"
                                               href="{{ path('edt_classe', { 'id': matiere.matClasse.id }) }}">
                                                <i class="fa fa-calendar"></i>
                                            </a>
                                            <a class="btn btn-info btn-sm" title="Voir mes etudiants"
                                               href="{{ path('etudiant_liste', { 'id': matiere.matClasse.id }) }}">
                                                <i class="fa fa-user"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function addMatiere(url) {
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $('.modal-body').html(data)
                    $('#modalMatiere').on('shown.bs.modal', function () {
                        $('#newMat').on('click', function () {
                            $.ajax({
                                url: url,
                                data: $('#formMat').serializeArray(),
                                type: 'POST',
                                error: function () {
                                    alert("une erreur se produite")
                                }
                            })
                        })
                    })
                }
            })
        }

        function editMatiere(url) {
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $('.modal-body').html(data)
                    $('#modalMatiere').on('shown.bs.modal', function () {
                        $('#newMat').on('click', function () {
                            $.ajax({
                                url: url,
                                data: $('#formMat').serializeArray(),
                                type: 'POST',
                                error: function () {
                                    alert("une erreur se produite")
                                }
                            })
                        })
                    })
                }
            })
        }

        function addClasseMat(url) {
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $('.modal-body').html(data)
                    $('#modalMatiere').on('shown.bs.modal', function () {
                        $('#newClasseMat').on('click', function () {
                            $.ajax({
                                url: url,
                                data: $('#formClasseMat').serializeArray(),
                                type: 'POST',
                                error: function () {
                                    alert("une erreur se produite")
                                }
                            })
                        })
                    })
                }
            })
        }
    </script>
{% endblock %}