{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Paiement liste {% endblock %}

{% set menu_paiement = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="pb-2"></div>
    <div class="card">
        <div class="row card-body">
            <div class="col-md-12">
                <a href="{{ path('paiement_new') }}" class="float-right">Ajouter un paiement</a>
            </div>
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Référence</th>
                            <th>Utilisateur</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paiement in paiement %}
                            <tr>
                                <td>{{ paiement.reference }} {{ paiement.user ? '(Mois de )' ~ paiement.commentaire }}</td>
                                <td>{{ paiement.user ? paiement.user.usrFirstName : paiement.commentaire }}</td>
                                <td>{{ paiement.date|date('Y-m-d H:m') }}</td>
                                <td>
                                    <a href="{{ path('paiement_details',{"id":paiement.id}) }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
