
{% form_theme form 'form/custom_fields.html.twig' %}

    {{ form_start(form,{"attr":{"id":"formSalle"}}) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.salleNom) }}
            {{ form_row(form.salleNumero) }}
            {{ form_row(form.nombrePlace) }}
        </div>
    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary float-right" id="newSalle" value="Enregistrer" name="new_salle"/>
        <a href="{{ path('salle_index') }}"
           class="btn btn-google">
            Annuler
        </a>
    </div>
    {{ form_end(form) }}