{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Liste salles {% endblock %}

{% set menu_salle = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des salles</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="add-btn-top-list float-right">
                            <a href="{{ path('salle_new') }}" class="btn btn-primary">
                                Ajouter une salle
                            </a>
                        </div>
                    {% endif %}
                    <div class="box-header">
                        <div class="list-count">
                            <h4><span class="title-count-text"> TOTAL : </span><span class="title-count"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nom</th>
                                <th>Numéro</th>
                                <th>Nombre place</th>
                                <th>Réservation</th>
                                <th>Motifs</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for salle in salle_list %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ salle.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ salle.salleNom }}</td>
                                    <td>{{ salle.salleNumero }}</td>
                                    <td>{{ salle.nombrePlace }}</td>
                                    <td>{{ salle.isReserve ? 'oui' : 'Non' }}</td>
                                    <td>{{ salle.motifs ?salle.motifs : 'Non réservé' }}</td>
                                    <td class="kl-action-button-bloc">

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-success btn-sm" title="Modifier"
                                               href="{{ path('salle_edit', { 'id': salle.id }) }}">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        {% endif %}
                                        {% if salle.isReserve == false %}
                                            <a class="btn btn-secondary btn-sm" title="Réserver ce salle"
                                               href="{{ path('salle_reservation', { 'id': salle.id }) }}">
                                                <i class="fa fa-restroom"></i>
                                            </a>
                                        {% endif %}
                                        {% if salle.isReserve == true %}
                                            <a class="btn btn-primary btn-sm" title="Details réservations"
                                               href="{{ path('details_reservation', { 'id': salle.id }) }}">
                                                <i class="fa fa-lightbulb"></i>
                                            </a>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-warning btn-sm" title="Annuler la réservation"
                                                   href="{{ path('salle_annule', { 'id': salle.id }) }}">
                                                    <i class="fa fa-ban"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-danger remove-elt btn-sm" title="Supprimer"
                                               onclick="supprimer('{{ path('salle_delete', { 'id': salle.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        {% for salle in salle_list %}
        var date_list = '{{ salle.finReserve|date('d/m/y H:m') }}';

        var now = new Date();
        var date_now = $.format.date(now, 'dd/MM/yyyy HH:mm');
        if (date_list < date_now) {
            $.ajax({
                type: "POST",
                url: '{{ path('salle_annule',{"id":salle.id}) }}'
            })
        }
        {% endfor %}


    </script>
{% endblock %}