{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Réservations salles {% endblock %}

{% set menu_salle       = true %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Réserver une salle</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.salleNom) }}
                    {{ form_row(form.salleNumero) }}
                    <div class="form-group">
                        <label for="">Début d'occupation</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" name="debut" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Fin d'occupation</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <input type="text" name="fin" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Motifs d'utilisation</label>
                        <input type="text" name="motif" class="form-control">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer" name="new_salle"/>
                <a href="{{ path('salle_index') }}"
                   class="btn btn-google btn-block">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });
    </script>
{% endblock %}