{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Tableau de bord {% endblock %}

{% set menu_info = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div data-repo="julkwel/sekoliko"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active btn-primary" id="posts-tab" data-toggle="tab"
                                   aria-controls="posts" aria-selected="true">
                                    Ajouter un bug ou amélioration
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="post-content"></div>
                </div>
                <!-- Post /////-->

                <!--- \\\\\\\Post-->
                {% for bug in bug %}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45"
                                             src="{{ bug.user.imgUrl ? bug.user.imgUrl : 'https://www.techzara.org/front_site_office/images/techzara/icon.jpg' }}"
                                             alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0">@{{ bug.user.usrLastname }}</div>
                                        <div class="h7 text-muted">{{ bug.user.etsNom }}</div>
                                    </div>
                                </div>
                                {% if is_granted('ROLE_SUPERADMIN') %}
                                    <div>
                                        <div class="dropdown">
                                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Action</div>
                                                <a class="dropdown-item" href="{{ path('bug_delete',{"id":bug.id}) }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i>{{ bug.dateAjout|date('Y-m-d') }}</div>
                            <a class="card-link" href="#">
                                <h5 class="card-title">{{ bug.titre }}.</h5>
                            </a>
                            <p class="card-text">
                                {{ bug.description }}.
                            </p>
                        </div>
                        <div class="card-footer">
                            <a onclick="addComment('{{ bug.id }}')" class="card-link"><i class="fa fa-comment"></i>
                                Comment</a>
                            <div id="comment-content{{ bug.id }}"></div>
                            <p class="card-text">
                                {% for comment in bug.comment %}
                            <li>{{ comment.comment }} par @{{ comment.user.username }}
                                le {{ comment.date|date('Y-m-d H:i') }}</li>
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <!-- Post /////-->


            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div data-repo="julkwel/sekoliko"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $("[data-repo]").github();
        $(document).ready(function () {
            $('.repo-stars').append("Stars and  ")
            $('.repo-forks').append(" Fork on github")
        })

        $('#posts-tab').on('click', function () {
            $.ajax({
                url: '{{ path('bug_new') }}',
                type: 'POST',
                success: function (data) {
                    $('#post-content').html(data);
                    $(document).on('click', '#add-bug', function () {
                        var data = $('#bug-add-info').serializeArray();
                        $.ajax({
                            type: 'POST',
                            url: '{{ path('bug_new') }}',
                            data: data,
                            dataType: "json"
                        }).done(function (data) {
                            console.log(data)
                        }).fail(function (err) {
                            console.log(err)
                        })
                    });
                },
                fail: function () {
                    alert("une erreur se produite");
                }
            })
        });

        function addComment(id) {
            var url = '{{ path('bug_comment',{"id":"id"}) }}';
            url = url.replace("id", id);

            $.ajax({
                url: url,
                success: function (data) {
                    $('#comment-content' + id).html(data);
                    $(document).on('click', '#comment', function () {
                        var data = $('#form-comment').serializeArray();
                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: data,
                            dataType: "json"
                        }).done(function (data) {
                            console.log(data)
                        }).fail(function (err) {
                            console.log(err)
                        })
                    });
                },
                fail: function () {
                    alert("une erreur se produite");
                }
            })
        }
    </script>
{% endblock %}