{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Classe {% endblock %}

{% set menu_conge = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des personnes en congé</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="" id="addConge" class="float-right pb-2"  data-toggle="modal" data-target="#congeModal">
                            Créer une congé
                        </a>
                        <div class="modal fade" id="congeModal" tabindex="-1" role="dialog" aria-labelledby="congeModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="congeModalLongTitle">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="box-header">
                        <div class="list-count">
                            <a href="{{ path('conge_list') }}" class="text-info">Congé actuelle</a>
                            <a href="{{ path('conge_search',{"type":0}) }}" class="text-success">Congé</a>
                            <a href="{{ path('conge_search',{"type":1}) }}">Permission</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Utilisateur</th>
                                <th>Type</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for conge in congelist %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ conge.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ conge.user ? conge.user.usrFirstname : 'null' }}</td>
                                    <td>{{ conge.type ? 'Permission' : 'Congé' }}</td>
                                    <td>{{ conge.dateDeb|date('Y-m-d H:i:s')}}</td>
                                    <td>{{ conge.dateFin|date('Y-m-d H:i:s')}}</td>
                                    <td class="kl-action-button-bloc">
                                        <a class="btn btn-success btn-sm" title="Modifier ce classe"
                                           href="{{ path('conge_edit', { 'id': conge.id }) }}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-danger remove-elt btn-sm" title="Supprimer"
                                               onclick="supprimer('{{ path('conge_delete', { 'id': conge.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("#addConge").click(function () {
            $.ajax({
                url: '{{ path('conge_new') }}',
                type: 'GET',
                success: function (data) {
                    console.log(data)
                    $('.modal-body').html(data)
                    $('#addNewConge').on('click',function () {
                        $.ajax({
                            url: '{{ path('conge_new') }}',
                            type: 'POST',
                            data:$('#formConge').serializeArray()
                        })
                    })
                }
            })
        })
    </script>
{% endblock %}