{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
    <h1>Classe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ classe.nom }}</td>
            </tr>
            <tr>
                <th>AsName</th>
                <td>{{ classe.asName }}</td>
            </tr>
            <tr>
                <th>AsDateDebut</th>
                <td>{{ classe.asDateDebut ? classe.asDateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AsDateFin</th>
                <td>{{ classe.asDateFin ? classe.asDateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EtsNom</th>
                <td>{{ classe.etsNom }}</td>
            </tr>
            <tr>
                <th>EtsAddresse</th>
                <td>{{ classe.etsAddresse }}</td>
            </tr>
            <tr>
                <th>EtsContact</th>
                <td>{{ classe.etsContact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classe_index') }}">back to list</a>

    <a href="{{ path('classe_edit', {'id': classe.id}) }}">edit</a>

    {{ include('classe/_delete_form.html.twig') }}
{% endblock %}
