
{% form_theme form 'form/custom_fields.html.twig' %}
    {{ form_start(form,{"attr":{"id":"formPunition"}}) }}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group ">
                <label for="">Selectionner le discipline</label>
                <select name="niveau" id="" disabled class="form-control">
                    <option value="{{ discipline.id }}" >{{ discipline.name }}</option>
                </select>
            </div>
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="box-footer">
        <input type="submit" class="btn btn-primary btn-block" id="newPunition" value="Ajouter" name="edit_discipline"/>
        <a href="#" data-dismiss="modal"
           class="btn btn-google btn-block">
            Annuler
        </a>
    </div>
    {{ form_end(form) }}