
{% form_theme form 'form/custom_fields.html.twig' %}
{{ form_start(form,{"attr":{"id":"formBook"}}) }}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.bookName) }}
        {{ form_row(form.author) }}
        {{ form_row(form.edition) }}
    </div>
</div>
<div class="box-footer">
    <input type="submit" class="btn btn-primary float-right" id="newBook" value="Enregistrer" name="new_book"/>
    <a href="{{ path('book_index') }}"
       class="btn btn-google">
        Annuler
    </a>
</div>
{{ form_end(form) }}