{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Details réservation livre {% endblock %}

{% set menu_bibliotheque = true %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header text-center">
        </div>
        <div class="card-body">
            <ul>
                <li>Titre : {{ book.bookName }}</li>
                <li>Prénom : {{ book.user.usrFirstname }}</li>
                <li>Début : {{ book.dateDebut | date('Y-m-d') }}</li>
                <li>Fin : {{ book.dateFin | date('Y-m-d') }}</li>
            </ul>
        </div>
    </div>
{% endblock %}