{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Livre {% endblock %}

{% set menu_bibliotheque = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des livres</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="row add-btn-top-list">
                            <a href="{{ path('book_new') }}" class="btn btn-primary">
                                Ajouter un livre
                            </a>
                        </div>
                    {% endif %}
                    <div class="box-header">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: {{ _book_list|length }} </span><span
                                    class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Titre du livre</th>
                                <th>Reservé</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th>Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in _book_list %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ book.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ book.bookName }}</td>
                                    <td>{{ book.isReserved ? 'OUI' : 'NON' }}</td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td class="kl-action-button-bloc">
                                            <a class="btn btn-primary" title="Modifier ce livre"
                                               href="{{ path('book_edit', { 'id': book.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-success" title="Reserver"
                                               href="{{ path('book_reservation', { 'id': book.id }) }}">
                                                <i class="fa fa-book"></i>
                                            </a>
                                            <a class="btn btn-info" title="Details de la réservations"
                                               href="{{ path('book_reservation_details', { 'id': book.id }) }}">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a class="btn btn-warning" title="Supprimer la réservation"
                                               onclick="confirm('Voulez vous vraiment supprimer?')"
                                               href="{{ path('book_unreserve', { 'id': book.id }) }}">
                                                <i class="fa fa-undo"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt" title="Supprimer"
                                               onclick="supprimer('{{ path('book_delete', { 'id': book.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(function () {
            $('#list-user').DataTable(
                {
                    "order": [[0, "desc"]],
                    "bProcessing": true,
                    "bFilter": true,
                    "oLanguage": {
                        "sProcessing": "Traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédente", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucun utilisateur trouvé",
                        "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    },
                    "footerCallback": function (row, data, start, end, display) {
                        $('.title-count').html(display.length);
                    }
                });
        });
    </script>
{% endblock %}