{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord {% endblock %}

{% set menu_user = true %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header text-center">
            A propos de {{ users }} du {{ users.etsNom }}
        </div>
        <div class="card-body">
            <ul>
                <li>NOM : {{ users.usrLastname }}</li>
                <li>PRÉNOM : {{ users.usrFirstname }}</li>
                <li>ADRESSE : {{ users.usrAddress }}</li>
                <li>CONTACT : {{ users.usrPhone }}</li>
            </ul>
        </div>
    </div>
{% endblock %}