{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Liste des trimestres {% endblock %}

{% set manu_trimestre = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des trimestres</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="add-btn-top-list float-right">
                            <a  data-toggle="modal" id="addTrim" data-target="#newtrim">
                                Ajouter une trimestre
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="newtrim" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Ajouter une
                                                trimestre</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="box-header">
                        <div class="list-count">
                            <h4><span class="title-count-text"> TOTAL : {{ trimestre|length }}</span><span
                                        class="title-count"></span></h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nom</th>
                                <th>Début</th>
                                <th>Fin</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for trim in trimestre %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ trim.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ trim.name }}</td>
                                    <td>{{ trim.trimDebut|date('Y-m-d') }}</td>
                                    <td>{{ trim.trimFin|date('Y-m-d') }}</td>
                                    <td class="kl-action-button-bloc">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="btn btn-success btn-sm" title="Modifier" data-toggle="modal" data-target="#newtrim"
                                               onclick="editTrim('{{ path('trim_edit', { 'id': trim.id }) }}')">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt btn-sm" title="Supprimer"
                                               onclick="supprimer('{{ path('trim_delete', { 'id': trim.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#addTrim').on('click', function () {
            $.ajax({
                url: '{{ path('trim_new') }}',
                type: 'POST',
                success: function (data) {
                    $('.modal-body').html(data);
                    $('#newTrimestre').on('click', function () {
                        $.ajax({
                            url: '{{ path('trim_new') }}',
                            type: 'POST',
                            data: $('#formTrim').serializeArray(),
                            success: function () {
                                alert("Ajout profs avec success ! ")
                            },
                            error: function () {
                                alert("Une érreur se produite");
                            }
                        })
                    })
                }
            })
        })

        function editTrim(url) {
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $('.modal-body').html(data);
                    $('#newTrimestre').on('click', function () {
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: $('#formTrim').serializeArray(),
                            success: function () {
                                alert("Modification profs avec success ! ")
                            },
                            error: function () {
                                alert("Une érreur se produite");
                            }
                        })
                    })
                }
            })
        }
    </script>
{% endblock %}