
<nav class="navbar navbar-expand navbar-light sk-bg-header  bg-white topbar mb-4 static-top shadow" id="sk-bg-header">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <b><a href="https://github.com/julkwel/sekoliko" target="_blank"><i class="fab fa-github"></i> Julkwel</a></b>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        {#<!-- Nav Item - Search Dropdown#}
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {% if app.user %}
                        Bienvenue <b>{{ app.user.username }}</b>
                    {% endif %}
                </span>

                <img class="img-profile rounded-circle"
                     src="{{ app.user.imgUrl ? app.user.imgUrl  : asset('img/images.jpeg') }}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('user_edit', { 'id': app.user.id }) }}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profil
                </a>
                <a class="dropdown-item" href="{{ path('theme_new') }}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Thème
                </a>
                <a class="dropdown-item" href="{{ path('theme_reset') }}">
                    <i class="fas fa-toggle-off fa-sm fa-fw mr-2 text-gray-400"></i>
                    Reset thème
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Déconnexion
                </a>
            </div>
        </li>

    </ul>

</nav>