{% set active = 'active' %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sekoliko<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('dashboard_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Tableaux de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        RH
    </div>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#user" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Utilisateurs</span>
        </a>
        <div id="user" class="collapse {% if menu_user is defined or menu_recherche is defined or menu_etd is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="collapse-item" href="{{ path('user_search') }}">Recherche utilisateur</a>
                    <a class="collapse-item" href="{{ path('user_index') }}">Liste des administrateur</a>
                    <a class="collapse-item" href="{{ path('user_new') }}">Nouveau Utilisateur</a>
                    <a class="collapse-item" href="{{ path('etudiant_search') }}">Nouveau Etudiant</a>
                {% endif %}
                {% if is_granted('ROLE_ETUDIANT') %}
                    <a class="collapse-item" href="{{ path('user_search') }}">Chercher une personne</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Heading -->

    {% if is_granted('ROLE_ADMIN') %}
    <div class="sidebar-heading">
        Administration
    </div>
    <!-- Nav Item - Niveau Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#niveau" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Niveau</span>
        </a>
        <div id="niveau" class="collapse {% if menu_niveau is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                <a class="collapse-item" href="{{ path('niveau_index') }}">Liste des niveaux</a>
                <a class="collapse-item" href="{{ path('niveau_new') }}">Nouveau niveau</a>
            </div>
        </div>
    </li>
    {% endif %}

    {% if is_granted('ROLE_ETUDIANT') %}
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#classe" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-book"></i>
                <span>Mes Classe</span>
            </a>
            <div id="classe" class="collapse {% if menu_classe is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Action:</h6>
                    <a class="collapse-item" href="{{ path('edt_etudiant') }}">Emploi du temps</a>
                    <a class="collapse-item" href="{{ path('etudiant_collegue') }}">Mes collegues</a>
                    <a class="collapse-item" href="{{ path('matiere_etudiant') }}">Mes matieres</a>
                    <a class="collapse-item" href="{{ path('note_etudiant') }}">Mes notes</a>
                </div>
            </div>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <!-- Nav Item - Classe Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#classe" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Classe</span>
        </a>
        <div id="classe" class="collapse {% if menu_classe is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                <a class="collapse-item" href="{{ path('classe_index') }}">Liste des classes</a>
                <a class="collapse-item" href="{{ path('classe_new') }}">Nouveau classes</a>
            </div>
        </div>
    </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <!-- Nav Item - Matiere Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#matiere" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Matières</span>
        </a>
        <div id="matiere" class="collapse {% if menu_matiere is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                <a class="collapse-item" href="{{ path('matiere_index') }}">Liste des matières</a>
                <a class="collapse-item" href="{{ path('matiere_new') }}">Nouveau</a>
                <a class="collapse-item" href="{{ path('matiere_index') }}">Liste des matieres</a>
                <a class="collapse-item" href="{{ path('matiere_new') }}">Nouveau matiere</a>
            </div>
        </div>
    </li>
    {% endif %}

    <!-- Nav Item - Salle Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#salle" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Salle</span>
        </a>
        <div id="salle" class="collapse  {% if menu_salle is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                <a class="collapse-item" href="{{ path('salle_index') }}">Liste salle</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="collapse-item" href="{{ path('salle_new') }}">Nouveau salle</a>
                {% endif %}
            </div>
        </div>
    </li>

    <!-- Nav Item - Discipline Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#discipline" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Discipline</span>
        </a>
        <div id="discipline" class="collapse  {% if menu_discipline is defined%}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Action:</h6>
                <a class="collapse-item" href="{{ path('discipline_index') }}">Liste discipline</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="collapse-item" href="{{ path('discipline_new') }}">Nouveau discipline</a>
                {% endif %}
            </div>
        </div>
    </li>

</ul>
<!-- End of Sidebar -->