{% set active = 'active' %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Sekoliko<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('dashboard_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Tableaux de bord</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('guide_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Manuel de l'utilisateur</span></a>
    </li>
    {% if is_granted('ROLE_SUPERADMIN') or  is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('bug_index') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span> Bug ou Améliorations</span></a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_SUPERADMIN') %}
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('user_ets_new') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Nouvel établissement</span></a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_SUPERADMIN') == false %}
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('info_index') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span> Informations </span></a>
        </li>

        {% if is_granted('ROLE_PROFS') %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('matiere_index') }}">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Mes matieres</span></a>
            </li>
        {% endif %}
        <div class="sidebar-heading">
            RH
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#user" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user"></i>
                <span>Utilisateurs</span>
            </a>
            <div id="user"
                 class="collapse {% if menu_user is defined or menu_recherche is defined or menu_etd is defined %}show{% endif %}"
                 aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Action:</h6>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="collapse-item" href="{{ path('user_search') }}">Recherche utilisateur</a>
                        <a class="collapse-item" href="{{ path('user_index') }}">Liste des administrateurs</a>
                        <a class="collapse-item" href="{{ path('user_new') }}">Nouvel utilisateur</a>
                        <a class="collapse-item" href="{{ path('etudiant_search') }}">Nouvel étudiant</a>
                    {% endif %}
                    {% if is_granted('ROLE_ETUDIANT') or is_granted('ROLE_PROFS') %}
                        <a class="collapse-item" href="{{ path('user_search') }}">Chercher une personne</a>
                    {% endif %}
                </div>
            </div>
        </li>
        <!-- Heading -->
        {% if is_granted('ROLE_ADMIN') %}
            <div class="sidebar-heading">
                Administrations
            </div>
            <!-- Nav Item - Niveau Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#niveau" aria-expanded="true"
                   aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-school"></i>
                    <span>Niveaux</span>
                </a>
                <div id="niveau" class="collapse {% if menu_niveau is defined %}show{% endif %}"
                     aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="{{ path('niveau_index') }}">Liste des niveaux</a>
                        <a class="collapse-item" href="{{ path('niveau_new') }}">Nouveau niveau</a>
                    </div>
                </div>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ETUDIANT') %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#classe" aria-expanded="true"
                   aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Ma classe</span>
                </a>
                <div id="classe" class="collapse {% if menu_classe is defined %}show{% endif %}"
                     aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="{{ path('edt_etudiant') }}">Emplois du temps</a>
                        <a class="collapse-item" href="{{ path('etudiant_collegue') }}">Mes collègues</a>
                        <a class="collapse-item" href="{{ path('matiere_etudiant') }}">Mes matières</a>
                        <a class="collapse-item" href="{{ path('note_etudiant') }}">Mes notes</a>
                    </div>
                </div>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <!-- Nav Item - Classe Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#classe" aria-expanded="true"
                   aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Classes</span>
                </a>
                <div id="classe" class="collapse {% if menu_classe is defined %}show{% endif %}"
                     aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="{{ path('classe_index') }}">Liste des classes</a>
                        <a class="collapse-item" href="{{ path('classe_new') }}">Nouvelles classes</a>
                    </div>
                </div>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <!-- Nav Item - Matiere Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#matiere"
                   aria-expanded="true"
                   aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Matières</span>
                </a>
                <div id="matiere" class="collapse {% if menu_matiere is defined %}show{% endif %}"
                     aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Actions:</h6>
                        <a class="collapse-item" href="{{ path('matiere_index') }}">Liste des matières</a>
                        <a class="collapse-item" href="{{ path('matiere_new') }}">Nouvelle matière</a>
                    </div>
                </div>
            </li>
        {% endif %}
        <!-- Nav Item - Salle Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#salle" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-home"></i>
                <span>Salles</span>
            </a>
            <div id="salle" class="collapse  {% if menu_salle is defined %}show{% endif %}" aria-labelledby="headingTwo"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Actions:</h6>
                    <a class="collapse-item" href="{{ path('salle_index') }}">Liste des salles</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="collapse-item" href="{{ path('salle_new') }}">Nouvelle salle</a>
                    {% endif %}
                </div>
            </div>
        </li>
        <!-- Nav Item - Discipline Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#discipline" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Disciplines</span>
            </a>
            <div id="discipline" class="collapse  {% if menu_discipline is defined %}show{% endif %}"
                 aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Actions:</h6>
                    <a class="collapse-item" href="{{ path('discipline_index') }}">Liste des disciplines</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="collapse-item" href="{{ path('discipline_new') }}">Nouveau discipline</a>
                    {% endif %}
                </div>
            </div>
        </li>
        <!-- Nav Item - Discipline Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bibliotheque"
               aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-book"></i>
                <span>Bibliothèque</span>
            </a>
            <div id="bibliotheque" class="collapse  {% if menu_bibliotheque is defined %}show{% endif %}"
                 aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Actions:</h6>
                    <a class="collapse-item" href="{{ path('book_index') }}">Bibliothèque</a>
                </div>
            </div>
        </li>
    {% endif %}

</ul>
<!-- End of Sidebar -->