<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sekoliko - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('decoupe/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset('decoupe/css/sb-admin-2.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpeg" href="{{ asset('img/images.jpeg') }}"/>
</head>

<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image p-0" >
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="{{ asset('img/sekoly.jpg') }}" alt="First slide" style="width: 100%;height: 500px;">
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{{ asset('img/sekoly2.jpg') }}" alt="Second slide" style="width: 100%;height: 500px;">
                                    </div>1
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="{{ asset('img/sekoly3.jpg') }}" alt="Third slide"style="width: 100%;height: 500px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Sekoliko Bienvenue</h1>
                                </div>
                                {% for type, messages in app.session.flashBag.all %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }}">
                                            {{ message|trans({}, 'FOSUserBundle') }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                                {% block fos_user_content %}{% endblock fos_user_content %}
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('decoupe/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('decoupe/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('decoupe/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<!-- Custom scripts for all pages-->
<script src="{{ asset('decoupe/js/sb-admin-2.min.js') }}"></script>
<script>
    $('.carousel').carousel({
        interval: 2000
    });
</script>
</body>
</html>