{% extends 'front/base.front.html.twig' %}

{% block body %}
    {#<div id="root"></div>#}
    {#<script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>#}

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix" style="background: black">
        <div class="container">

            <div class="intro-img">
                <img src="{{ asset('front/img/intro-img.svg') }}" alt="" class="img-fluid">
            </div>

            <div class="intro-info" style="font-family: 'Sacramento', cursive;">
                <h2>Numerisez la gestion de votre établissement avec <br>
                    <h1 class="display-1 text-white" style="font-family: 'Sacramento', cursive;">Sekoliko</h1>
                </h2>
            </div>

        </div>
    </section>

    <!-- #intro -->

    <main id="main">

        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Pourquoi Sekoliko</h3>
                </header>

                <div class="row">

                    <div class="col-md-12 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="">Les bulletins scolaires en toute simplicité</a></h4>
                            <p class="description">
                                N'appréhendez plus la récupération des notes pour vos mille et une matières,
                                Sekoliko s'en charge et vous livre les bulletins édités.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-paper-outline" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Ecolage et autres paiements en ligne directe</a></h4>
                            <p class="description">
                                L'argent part des parents puis attérit dans votre banque,
                                Sekoliko épargne l'élève et l'économat.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-12 wow bounceInUp" data-wow-delay="0.1s"
                         data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">Sécurité de vos données</a></h4>
                            <p class="description">
                                N'ayez plus peur de perdre vos données , Sekoliko assurera leur disponibilité permanente.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- #services -->

        <!--==========================
          Portfolio Section
        ============================-->
        <section id="portfolio" class="clearfix">
            <div class="container">
                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{{ asset('img/sekoliko.png') }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div>
                                    <a href="{{ asset('img/sekoliko.png') }}" data-lightbox="portfolio"
                                       data-title="App 1" class="link-preview" title="Preview"><i
                                                class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <img src="{{ asset('img/sekoly2.jpg') }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div>
                                    <a href="{{ asset('img/sekoly2.jpg') }}" class="link-preview"
                                       data-lightbox="portfolio" data-title="voir plus grand" title="Preview"><i
                                                class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                        <div class="portfolio-wrap">
                            <img src="https://ict.io/wp-content/uploads/2017/11/23270172_185834975308862_1606002499511880793_o-1030x507.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div>
                                    <a href="https://ict.io/wp-content/uploads/2017/11/23270172_185834975308862_1606002499511880793_o-1030x507.jpg" class="link-preview"
                                       data-lightbox="portfolio" data-title="voir plus grand" title="Preview">
                                        <i class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{{ asset('img/sekoly3.jpg') }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div>
                                    <a href="{{ asset('img/sekoly3.jpg') }}" class="link-preview"
                                       data-lightbox="portfolio" data-title="Voir plus grand" title="Preview"><i
                                                class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                        <div class="portfolio-wrap">
                            <img src="{{ asset('img/sekoly.jpg') }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <div>
                                    <a href="{{ asset('img/sekoly.jpg') }}" class="link-preview"
                                       data-lightbox="portfolio" data-title="voir plus grand" title="Preview"><i
                                                class="ion ion-eye"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #portfolio -->


        <!--==========================
          Team Section
        ============================-->
        <section id="team">
            <div class="container">
                <div class="section-header">
                    <h3>L'équipe</h3>
                </div>

                <div class="text-center w-100">
                    <div class="row">
                        <div class="col-md-4 wow fadeInUp">
                            <div class="card">
                                <img src="https://scontent.ftnr4-1.fna.fbcdn.net/v/t1.0-9/58375310_2257098541284002_3829274424570281984_n.jpg?_nc_cat=109&_nc_eui2=AeFQ52FLcvei0GrEaK-vi89rOvbZRyzojR3pLkJ8Anmf4BL1AKIMNM-cqUf82vS3aEXi93zz8QSUmBz6MGySvRHdPQVCcXDwxuKC2ieSe5NWtQ&_nc_ht=scontent.ftnr4-1.fna&oh=ecb0522dc6123702ad8460bea80b1f41&oe=5D6DFAAF"
                                     class="img-fluid"style="height:300px!important" alt="Julien">
                                <div class="member-info">
                                    <div class="member-info-content m-1">
                                        <h4>Julien Rajerison</h4>
                                        <span>Responsable téchnique</span>
                                        <div class="social">
                                            <a href="https://www.github.com/julkwel" target="_blank" class="btn btn-primary m-1  rounded-circle">
                                                <i class="fa fa-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="card">
                                <img src="https://scontent.ftnr4-1.fna.fbcdn.net/v/t1.0-9/6033_639565266146879_7390455139833953273_n.jpg?_nc_cat=100&_nc_eui2=AeGmmiwBMWFTyIdSZaySLWBpWPrEbJbMHf_QVxBr8Ep1-GfJ9h9loF4nC3NIztT5bs_VfKP0S9WAeD0Lae2I0jWF2m5Nly0hUIiLMm4RllImow&_nc_ht=scontent.ftnr4-1.fna&oh=ded1e40eafc900131bc4f6fbb7ecab99&oe=5D2D5888"
                                     class="img-fluid"style="height:300px!important" alt="Lou">
                                <div class="member-info">
                                    <div class="member-info-content m-1">
                                        <h4>Fonenantsoa Maurica</h4>
                                        <span>Responsable des affaires</span>
                                        <div class="social">
                                            <a href="https://www.linkedin.com/in/fonenantsoa-maurica-3a7816184/" target="_blank" class="btn btn-primary m-1  rounded-circle">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="card">
                                <img src="https://scontent.ftnr4-1.fna.fbcdn.net/v/t1.0-9/38296697_2170124403238326_1599751738665992192_n.jpg?_nc_cat=110&_nc_eui2=AeGrsABhokFRJGtesrq7VficKSSEnZjCQPb5FN0pLajjbwJV-BfgJ2nB19JlnfEg55oG8351_mtfiGMu7LAJ81OSmDsEz3tnkEdwehWOk4ZwcA&_nc_ht=scontent.ftnr4-1.fna&oh=2e790dca48dcf99cd580d5247d22144a&oe=5D6258DA" class="img-fluid"
                                     alt="vanilla pay" style="height:300px!important">
                                <div class="member-info">
                                    <div class="member-info-content m-1">
                                        <h4>Vanilla Pay</h4>
                                        <span>Partenaire</span>
                                        <div class="social">
                                            <a href="https://web.facebook.com/ariary.net" target="_blank" class="btn btn-primary m-1 rounded-circle">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a href="http://ariary.net" target="_blank" class="btn btn-primary m-1  rounded-circle">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <section id="contact">
            <div class="container-fluid">

                <div class="section-header">
                    <h3>Nous contacter</h3>
                </div>

                <div class="row wow fadeInUp">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-12 info text-center">
                                <i class="ion-ios-email-outline"></i>
                                <p>sekoliko.mada@gmail.com</p>
                            </div>
                        </div>

                        <div class="form">
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <input type="text" name="name" class="form-control" id="name"
                                               placeholder="Your Name" data-rule="minlen:4"
                                               data-msg="Please enter at least 4 chars"/>
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <input type="email" class="form-control" name="email" id="email"
                                               placeholder="Your Email" data-rule="email"
                                               data-msg="Please enter a valid email"/>
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject"
                                           placeholder="Subject" data-rule="minlen:4"
                                           data-msg="Please enter at least 8 chars of subject"/>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                                              data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" title="Send Message">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        jQuery(document).ready(function ($) {
            "use strict";

            //Contact
            $('form.contactForm').submit(function () {
                console.log("submit");
                var f = $(this).find('.form-group'),
                    ferror = false,
                    emailExp = /^[^\s()<>@,;:\/]+@\w[\w\.-]+\.[a-z]{2,}$/i;

                f.children('input').each(function () { // run all inputs

                    var i = $(this); // current input
                    var rule = i.attr('data-rule');

                    if (rule !== undefined) {
                        var ierror = false; // error flag for current input
                        var pos = rule.indexOf(':', 0);
                        if (pos >= 0) {
                            var exp = rule.substr(pos + 1, rule.length);
                            rule = rule.substr(0, pos);
                        } else {
                            rule = rule.substr(pos + 1, rule.length);
                        }

                        switch (rule) {
                            case 'required':
                                if (i.val() === '') {
                                    ferror = ierror = true;
                                }
                                break;

                            case 'minlen':
                                if (i.val().length < parseInt(exp)) {
                                    ferror = ierror = true;
                                }
                                break;

                            case 'email':
                                if (!emailExp.test(i.val())) {
                                    ferror = ierror = true;
                                }
                                break;

                            case 'checked':
                                if (!i.is(':checked')) {
                                    ferror = ierror = true;
                                }
                                break;

                            case 'regexp':
                                exp = new RegExp(exp);
                                if (!exp.test(i.val())) {
                                    ferror = ierror = true;
                                }
                                break;
                        }
                        i.next('.validation').html((ierror ? (i.attr('data-msg') !== undefined ? i.attr('data-msg') : 'wrong Input') : '')).show('blind');
                    }
                });
                f.children('textarea').each(function () { // run all inputs

                    var i = $(this); // current input
                    var rule = i.attr('data-rule');

                    if (rule !== undefined) {
                        var ierror = false; // error flag for current input
                        var pos = rule.indexOf(':', 0);
                        if (pos >= 0) {
                            var exp = rule.substr(pos + 1, rule.length);
                            rule = rule.substr(0, pos);
                        } else {
                            rule = rule.substr(pos + 1, rule.length);
                        }

                        switch (rule) {
                            case 'required':
                                if (i.val() === '') {
                                    ferror = ierror = true;
                                }
                                break;

                            case 'minlen':
                                if (i.val().length < parseInt(exp)) {
                                    ferror = ierror = true;
                                }
                                break;
                        }
                        i.next('.validation').html((ierror ? (i.attr('data-msg') != undefined ? i.attr('data-msg') : 'wrong Input') : '')).show('blind');
                    }
                });
                if (ferror) return false;
                else
                    var str = $(this).serializeArray();
                var action = $(this).attr('action');
                if (!action) {
                    action = '{{ path('sk_send_mail') }}'
                }
                $.ajax({
                    type: "POST",
                    url: action,
                    data: str,
                    success: function (msg) {
                        if (msg) {
                            alert("Merci pour votre message");
                            window.location.reload();
                        }
                    },
                    error: function (error) {
                        alert("Une erreur se produite");
                        console.log(error, arguments);
                    },
                });
                return false;
            });

        });

    </script>

{% endblock %}
