{# Manage student section #}

{% extends 'admin/_base_admin.html.twig' %}
{% set menu_student = true %}
{% block title %}Etudiant{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">
                    <a href="{{ path('student_list',{"id":classe.id}) }}" class="ml-2">
                        <i class="ti-arrow-circle-left"></i>
                    </a>Gestion étudiants
                </h4>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Système</h6>
                            {{ form_row(form.user.username) }}
                            {{ form_row(form.user.password) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Utilisateur</h6>
                            {{ form_widget(form.user) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>ETUDIANT</h6>
                            {{ form_row(form.classe) }}
                            {{ form_row(form.status) }}
                            {{ form_row(form.adresse) }}
                            {{ form_row(form.contact) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Parent</h6>
                            {{ form_row(form.adresseParent) }}
                            {{ form_row(form.contactParent) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Information complementaire</h6>
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-block mt-2 text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="ti-save"></i> &nbsp;Enregistrer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}