{# Manage sekoliko user #}
{% extends 'admin/_base_admin.html.twig' %}

{% set menu_administration =true %}
{% set menu_user =true %}

{% block title %}Administration{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h4 class="c-grey-900 mB-20">
                    <a href="{{ path('administrator_list') }}" class="ml-2">
                        <i class="ti-arrow-circle-left"></i>
                    </a>Gestion administrateur
                </h4>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Système</h6>
                            {{ form_row(form.user.username) }}
                            {{ form_row(form.user.password) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Utilisateur</h6>
                            {{ form_widget(form.user) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>CIN</h6>
                            {{ form_row(form.cin) }}
                            {{ form_row(form.lieuCin) }}
                            {{ form_row(form.dateCin) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Administratif</h6>
                            {{ form_row(form.type) }}
                            {{ form_row(form.diplome) }}
                            {{ form_row(form.numAe) }}
                            {{ form_row(form.salary) }}
                        </div>
                        <div class="bd mb-1 bgc-white p-20 sk-bd">
                            <h6>Information complementaire</h6>
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-block mt-2 text-center">
                    <button type="submit" class="btn btn-lg btn-primary">
                        <i class="ti-save"></i> &nbsp;Enregistrer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}