{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord {% endblock %}

{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Mes collègues  en {{ classe.classeNom }}</h6>
                    <div class="box-header">
                        <div class="list-count">
                            <span class="title-count-text"> TOTAL: {{ user |length }}</span><span class="title-count"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Contact</th>
                                <th>Adresse</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for etudiant in user %}
                                <tr>
                                    <td>{{ etudiant.etudiant.usrFirstname }}</td>
                                    <td>{{ etudiant.etudiant.usrLastname }}</td>
                                    <td>{{ etudiant.etudiant.usrPhone }}</td>
                                    <td>{{ etudiant.etudiant.usrAddress }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // Call the dataTables jQuery plugin
        $(document).ready(function() {
            $('#dataTable').DataTable();
        });

        $(function () {
            $('#list-user').DataTable(
                {
                    "order": [[0, "desc"]],
                    "bProcessing": true,
                    "bFilter": true,
                    "oLanguage": {
                        "sProcessing": "Traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédente", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucun utilisateur trouvé",
                        "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    },
                    "footerCallback": function (row, data, start, end, display) {
                        $('.title-count').html(display.length);
                    }
                });
        });
    </script>
{% endblock %}