{% extends 'admin/admin.html.twig' %}

{% block body %}

    <div class="container mt-2">
        <div class="panel bg-gradient-info text-white shadow">
            <div class="card-body center">
                <img src="{{ asset('img/images.jpeg') }}" width="150px">

                <h2 class="h3 text-white mt-5">
                    {{ etudiant.etudiant.usrFirstname }} {{ etudiant.etudiant.usrLastname }} <br>
                    <span>Etudiant</span>
                </h2>
                <a href="{{ path('etudiant_pdf',{'id': etudiant.id}) }}" class="btn btn-primary btn-icon-split print">
                    <span class="icon text-white-50">
                      <i class="fas fa-print"></i>
                    </span>
                    <span class="text">Exporter pdf</span>
                </a>
            </div>

        </div>
        <div class="panel-body mt-2">
            <h2 class="title-info">Information Personnel :</h2>
            <div class="row">
                <div class="col-md-6">
                    <label>N° de Matriculation :</label> <span>99</span><br><br>
                    <label>Nom :</label> <span>{{ etudiant.etudiant.usrLastname }}</span><br><br>
                    <label>Prenom :</label> <span>{{ etudiant.etudiant.usrFirstname }}</span><br><br>
                    <label>Date de naissance :</label> <span>{{ etudiant.dateDeNaissance }}</span><br><br>
                </div>
                <div class="col-md-6">
                    <label>Sexe :</label> <span>{{ etudiant.sexe }}</span><br><br>
                    <label>Addresse :</label> <span>Antananarivo</span><br><br>
                    <label>Telephone :</label> <span>{{ etudiant.etudiant.usrPhone }}</span><br><br>
                    <label>Email :</label> <span>{{ etudiant.etudiant.email ? etudiant.etudiant.email : '' }}</span><br><br>
                </div>
            </div>
            <h2 class="title-info">Information Scolarité :</h2>
            <div class="row">
                <div class="col-md-6">
                    <label>Classe :</label> <span>{{ etudiant.classe.niveau.niveauNom }}</span><br><br>
                    <label>Niveau :</label> <span>{{ etudiant.classe.niveau.niveauNom }}</span><br><br>
                    <label>Date d'inscription :</label> <span>{{ etudiant.etudiant.usrDateCreate |date('Y-m-d') }}</span><br><br>
                    {% if etudiant.isRenvoie == true %}
                        <label>Renvoyé le :</label> <span> {{ etudiant.dateRenvoie | date('Y-m-d') }}</span><br><br>
                        <label>Motifs de renvoie :</label> <span>{{ etudiant.motifRenvoie }}</span><br><br>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label>Statut :</label> <span>{{ etudiant.addition }}</span><br><br>
                </div>
            </div>
            <h2 class="title-info">Information des parents :</h2>
            <div class="row">
                <div class="col-md-6">
                    <label>Mère :</label> <span>{{ etudiant.mere }}</span><br><br>
                    <label>Père :</label> <span>{{ etudiant.pere }}</span><br><br>
                    <label>Date d'inscription :</label> <span>{{ etudiant.etudiant.usrDateCreate |date('Y-m-d') }}</span><br><br>
                    {% if etudiant.isRenvoie == true %}
                        <label>Renvoyé le :</label> <span> {{ etudiant.dateRenvoie | date('Y-m-d') }}</span><br><br>
                        <label>Motifs de renvoie :</label> <span>{{ etudiant.motifRenvoie }}</span><br><br>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label>Contact Parent :</label> <span>{{ etudiant.contactParent }}</span><br><br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}