{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Mes notes {% endblock %}

{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Mes notes</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Matières</th>
                                <th>Notes obténues</th>
                                <th>Coefficients</th>
                                <th>Trimestre</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for note in note_liste %}
                                <tr>
                                    <td>{{ note.matNom.matNom }}</td>
                                    <td>{{ note.noteVal }}</td>
                                    <td>{{ note.matNom.matCoeff }}</td>
                                    <td>{{ note.trimestre.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <section id="tabs" class="project-tab" style="width: 100%">
        <div class="card shadow mb-4">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    {% for trim in trimestre %}
                        <a class="nav-item nav-link sk-tabs active" id="nav-{{ trim.id }}" data-toggle="tab"
                           href="#nav-{{ trim.id }}" role="tab" aria-controls="nav-{{ trim.id }}"
                           aria-selected="true">{{ trim.name }}</a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="card-body text-center">
                    Filtrer par trimestre
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.sk-tabs').on('click', function () {
            var href = $(this).attr('href');
            var text = href.replace('#', '');
            var id_trim = href.replace('#nav-', '');
            var url = '{{ path('note_etd_trim',{"id":'trimId'}) }}';
            url = url.replace('trimId', id_trim);
            $('.sk-nav-tabs').attr('id', text);
            $.ajax({
                type: 'POST',
                url: url,
                success: function (data) {
                    $('#nav-tabContent').html(data);
                    $(document).ready(function () {
                        $('#dataTabledata').DataTable();
                    });

                    $(function () {
                        $('#list-user').DataTable(
                            {
                                "order": [[0, "desc"]],
                                "bProcessing": true,
                                "bFilter": true,
                                "oLanguage": {
                                    "sProcessing": "Traitement...",
                                    "oPaginate": {
                                        "sPrevious": "Précédente", // This is the link to the previous page
                                        "sNext": "Suivante", // This is the link to the next page
                                    },
                                    "sSearch": "Filtrer: ",
                                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                                    "sEmptyTable": "Aucun utilisateur trouvé",
                                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                                },
                                "footerCallback": function (row, data, start, end, display) {
                                    $('.title-count').html(display.length);
                                }
                            });
                    });
                }
            })
        })
    </script>

{% endblock %}