{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} Tableau de bord {% endblock %}

{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des notes
                        de {{ etudiant.etudiant.usrLastname }}</h6>
                    {# Bouton création #}
                    {% if is_granted('ROLE_PROFS') %}
                        <div class="row add-btn-top-list">
                            <a href="{{ path('note_new',{'id':etudiant.id}) }}" class="btn btn-primary">
                                Ajouter note pour {{ etudiant.etudiant.usrLastname }}
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Matiere</th>
                                <th>Note obténue</th>
                                <th>Coefficient</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for note in note_liste %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ note.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ note.matNom.matNom }}</td>
                                    <td>{{ note.noteVal }}</td>
                                    <td>{{ note.matNom.matCoeff }}</td>
                                    <td class="kl-action-button-bloc">
                                        {% if is_granted('ROLE_PROFS') %}
                                            <a class="btn btn-primary" title="Modifier"
                                               href="{{ path('note_edit', { 'id': note.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt" title="Supprimer"
                                               onclick="supprimer('{{ path('note_delete', { 'id': note.id }) }}')">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        // Call the dataTables jQuery plugin
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        $(function () {
            $('#list-user').DataTable(
                {
                    "order": [[0, "desc"]],
                    "bProcessing": true,
                    "bFilter": true,
                    "oLanguage": {
                        "sProcessing": "Traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédente", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucun utilisateur trouvé",
                        "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                    },
                    "footerCallback": function (row, data, start, end, display) {
                        $('.title-count').html(display.length);
                    }
                });
        });
    </script>
{% endblock %}