{% extends 'admin/admin.html.twig' %}

{% block title %}{{ parent() }} | Liste notes{% endblock %}

{% set menu_classe = true %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="card bg-warning text-white shadow">
            <div class="card-body">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <form action="" method="POST" class="form-search">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary text-center">Liste des notes
                        de {{ etudiant.etudiant.usrLastname }}</h6>

                    {% if is_granted('ROLE_PROFS') %}
                        <div class="add-btn-top-list d-block">
                            <a href="{{ path('note_new',{'id':etudiant.id}) }}" class="btn btn-primary float-right">
                                Ajouter note pour {{ etudiant.etudiant.usrLastname }}
                            </a>
                        </div>
                        <div class="add-btn-top-list d-block">
                            <a href="{{ path('etudiant_liste',{'id':classe.id}) }}" class="btn btn-warning float-left">
                                Retour vers les étudiants en {{ classe.classeNom }}
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Matiere</th>
                                <th>Note obténue</th>
                                <th>Trimestre</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for note in note_liste %}
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" value="{{ note.id }}" name="delete[]"/>
                                    </td>
                                    <td>{{ note.matNom ? note.matNom.matiere.matNom }}</td>
                                    <td>{{ note.noteVal }}</td>
                                    <td>{{ note.trimestre?note.trimestre.name }}</td>
                                    <td class="kl-action-button-bloc">
                                        {% if is_granted('ROLE_PROFS') %}
                                            <a class="btn btn-primary" title="Modifier"
                                               href="{{ path('note_edit', { 'id': note.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-danger remove-elt" title="Supprimer"
                                               href="{{ path('note_delete', { 'id': note.id }) }}">
                                                {#onclick="supprimer('{{ path('note_delete', { 'id': note.id }) }}')">#}
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <section id="tabs" class="project-tab" style="width: 100%">
        <div class="card shadow mb-4">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    {% for trim in trimestre %}
                        <a class="nav-item nav-link sk-tabs active" id="nav-{{ trim.id }}" data-toggle="tab"
                           href="#nav-{{ trim.id }}" role="tab" aria-controls="nav-{{ trim.id }}"
                           aria-selected="true">{{ trim.name }}</a>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="card-body text-center">
                    Filtrer par trimestre
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('.sk-tabs').on('click', function () {
            var href = $(this).attr('href');
            var text = href.replace('#', '');
            var id_trim = href.replace('#nav-', '');
            var url = '{{ path('note_trim',{"id_etd":etudiant.id,"id_trim":'trimId'}) }}';
            url = url.replace('trimId', id_trim);
            $('.sk-nav-tabs').attr('id', text);
            $.ajax({
                type: 'POST',
                url: url,
                success: function (data) {
                    $('#nav-tabContent').html(data);
                    $(document).ready(function () {
                        $('#dataTabledata').DataTable();
                    });

                    $(function () {
                        $('#list-user').DataTable(
                            {
                                "order": [[0, "desc"]],
                                "bProcessing": true,
                                "bFilter": true,
                                "oLanguage": {
                                    "sProcessing": "Traitement...",
                                    "oPaginate": {
                                        "sPrevious": "Précédente", // This is the link to the previous page
                                        "sNext": "Suivante", // This is the link to the next page
                                    },
                                    "sSearch": "Filtrer: ",
                                    "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                                    "sEmptyTable": "Aucun utilisateur trouvé",
                                    "sInfo": "Voir _TOTAL_ de _PAGE_ pour _PAGES_ entrées",
                                },
                                "footerCallback": function (row, data, start, end, display) {
                                    $('.title-count').html(display.length);
                                }
                            });
                    });
                }
            })
        })
    </script>

{% endblock %}