{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Ajout Note {% endblock %}

{% set menu_note        = true %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Ajouter un note</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled value="{{ user.etudiant.usrLastname }}">
                    </div>
                    <div class="form-group">
                        <label for="">Selectionner la matière</label>
                        <select name="matiere" id="" required class="form-control">
                            {% for matiere in matiere %}
                                <option value="{{ matiere.id }}">{{ matiere.matNom }} Coefficient {{ matiere.matCoeff }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Note</label>
                        <input type="text" class="form-control" required name="noteVal">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer" name="new_niveau"/>
                <a href="{{ path('etudiant_note',{'id':etudiant.id}) }}"
                   class="btn btn-google btn-block">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}