<link rel="stylesheet" href="http://127.0.0.1:8000{{ asset('admin/bootstrap/bootstrap.min.css') }}">
<link rel="stylesheet" href="http://127.0.0.1:8000{{ asset('admin/bootstrap/bootstrap-lightbox.min.css') }}">
<link rel="stylesheet" href="http://127.0.0.1:8000{{ asset('css/main.css') }}">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="http://127.0.0.1:8000{{ asset('decoupe/css/sb-admin-2.min.css') }}" rel="stylesheet">
<link href="http://127.0.0.1:8000{{ asset('decoupe/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css">
<link rel="stylesheet" href="http://127.0.0.1:8000{{ asset('css/fullcalendar.min.css') }}">

<div class="container">
    <div class="panel bg-gradient-info text-white shadow">
        <div class="card-body center">
            <img src="http://127.0.0.1:8000{{ asset('img/images.jpeg') }}" width="150px">


            <h2 class="h3 text-white mt-5">
                {{ etudiant.etudiant.usrFirstname }} {{ etudiant.etudiant.usrLastname }} <br>
                <span>Etudiant</span>
            </h2>
        </div>

    </div>
    <div class="panel-body mt-2">
        <h2 class="title-info">Information Personnel :</h2>
        <div class="row">
            <div class="col-md-6">
                <label>N° de Matriculation :</label> <span>99</span><br><br>
                <label>Nom :</label> <span>{{ etudiant.etudiant.usrLastname }}</span><br><br>
                <label>Prenom :</label> <span>{{ etudiant.etudiant.usrFirstname }}</span><br><br>
                <label>Date de naissance :</label> <span>{{ etudiant.dateDeNaissance }}</span><br><br>
            </div>
            <div class="col-md-6">
                <label>Sexe :</label> <span>{{ etudiant.sexe }}</span><br><br>
                <label>Addresse :</label> <span>Antananarivo</span><br><br>
                <label>Telephone :</label> <span>{{ etudiant.etudiant.usrPhone }}</span><br><br>
                <label>Email :</label> <span>{{ etudiant.etudiant.email ? etudiant.etudiant.email : '' }}</span><br><br>
            </div>
        </div>
        <h2 class="title-info">Information Scolarité :</h2>
        <div class="row">
            <div class="col-md-6">
                <label>Classe :</label> <span>{{ etudiant.classe.niveau.niveauNom }}</span><br><br>
                <label>Niveau :</label> <span>{{ etudiant.classe.niveau.niveauNom }}</span><br><br>
                <label>Date d'inscription :</label> <span>{{ etudiant.etudiant.usrDateCreate |date('Y-m-d') }}</span><br><br>
                {% if etudiant.isRenvoie == true %}
                    <label>Renvoyé le :</label> <span> {{ etudiant.dateRenvoie | date('Y-m-d') }}</span><br><br>
                    <label>Motifs de renvoie :</label> <span>{{ etudiant.motifRenvoie }}</span><br><br>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label>Statut :</label> <span>{{ etudiant.addition }}</span><br><br>
            </div>
        </div>
        <h2 class="title-info">Information des parents :</h2>
        <div class="row">
            <div class="col-md-6">
                <label>Mère :</label> <span>{{ etudiant.mere }}</span><br><br>
                <label>Père :</label> <span>{{ etudiant.pere }}</span><br><br>
                <label>Date d'inscription :</label> <span>{{ etudiant.etudiant.usrDateCreate |date('Y-m-d') }}</span><br><br>
                {% if etudiant.isRenvoie == true %}
                    <label>Renvoyé le :</label> <span> {{ etudiant.dateRenvoie | date('Y-m-d') }}</span><br><br>
                    <label>Motifs de renvoie :</label> <span>{{ etudiant.motifRenvoie }}</span><br><br>
                {% endif %}
            </div>
            <div class="col-md-6">
                <label>Contact Parent :</label> <span>{{ etudiant.contactParent }}</span><br><br>
            </div>
        </div>
    </div>
</div>