{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Ajout Utilisateur {% endblock %}

{% set menu_user        = true %}
{% set menu_user_create = true %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Créer un utilisateur</h6>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.usrLastname) }}
                    {{ form_row(form.usrFirstname) }}
                    {{ form_row(form.usrAddress) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.usrPhone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.imgUrl) }}
                    {{ form_row(form.skRole) }}
                    <div class="hide">
                        {{ form_row(form.enabled) }}
                    </div>
                    {{ form_row(form.username) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                </div>
            </div>

            <div class="box-footer">
                <input type="submit" class="btn btn-primary btn-block" value="Enregistrer" name="new_user"/>
                <a href="{{ path('user_index') }}"
                   class="btn btn-google btn-block">
                    Annuler
                </a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}