{% extends 'admin/admin.html.twig' %}

{% form_theme form 'form/custom_fields.html.twig' %}

{% block title %}{{ parent() }} Ajout Utilisateur {% endblock %}

{% set menu_user        = true %}
{% set menu_user_create = true %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                {{ form_start(form) }}
                    <div class="box-header">
                        <h3 class="box-title">Créer un utilisateur</h3>
                    </div>
                    
                    <div class="box-body">
                        {{ form_row(form.usrLastname) }}
                        {{ form_row(form.usrFirstname) }}
                        {{ form_row(form.usrAddress) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.usrPhone) }}
                        {{ form_row(form.imgUrl) }}
                        {{ form_row(form.skRole) }}
                        <div class="hide">
                            {{ form_row(form.enabled) }}
                        </div>
                        <hr>
                        {{ form_row(form.username) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                    </div>

                    <div class="box-footer">
                        <input type="submit" class="btn btn-primary" value="Enregistrer" name="new_user"/>
                        <a href="{{ path('user_index') }}" 
                           class="btn btn-default pull-left btn-mini-rectif" >
                            Retour à la liste
                        </a>
                    </div>                    
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}